html {
    font-family: 'Raleway', sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    position: relative;
    min-height: 100vh;
    width: 960px;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    margin-top: 64px;
}

#root {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}